@{
    ViewData["Title"] = "CCFGMN | About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>In an effort to bring our family closer to Christ and to each other, we started a family tradition of CCFGMN - Corny Christian Feel-Good Movie Night. CCFGMN is a night where we watch gather together and watch an uplifting, fun, and often corny movie. It is a family favorite. Start your own tradition of wholesome family entertainment with a list of LDS Movies that will be fun for the whole family.</p>
