@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <div class="imgBox">
        <a href="./Movies/Index" class="homeA">Corny Christian Feel Good Movie Night</a>


    </div>
    <p>Image courtesy of <a href="https://www.lds.org/media-library/images/category/technology?lang=eng&start=1&end=40&order=">LDS.org</></p>
</div>